* {
	box-sizing: border-box;
}

.wrapper {
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 10rem;
	padding-right: 10rem;
	color: #ffbb5a;
}

.image {
	border-radius: 3rem;
	-webkit-border-radius: 3rem;
	-moz-border-radius: 3rem;
	-ms-border-radius: 3rem;
	-o-border-radius: 3rem;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 33.33%;
	padding: 1rem;
	color: #ffbb5a;
}

/* Clear floats after the columns */
.row:after {
	content: '';
	display: table;
	clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
