.projects {
	background-color: none;
	padding: 2rem 0;
}

.bd-grid {
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100% 100% 100%;
	grid-template-rows: auto;
	column-gap: 2rem;
	width: calc(100% - 2rem);
	margin-left: 2rem;
	margin-right: 1rem;
	align-items: center;
}

.project-pic {
	width: 65%;
	height: 60%;
}

.projects-container {
	row-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	align-items: center;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

.projects-title {
	text-align: center;
	margin-bottom: 1rem;
}

.project-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.25rem;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.project-container p {
	padding: 0.4rem;
}

.project-title {
	margin-bottom: var(--bottom-margin);
}

.project-details {
	margin-bottom: var(--bottom-margin);
}

.project-card {
	background-color: #474747;
	border-radius: 1rem;
	box-shadow: 10px 10px 10px 5px #bcbcbc;
	padding: 1rem;
	margin: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.project-card:hover {
	transform: translateY(-0.5rem);
	-webkit-transform: translateY(-0.5rem);
	-moz-transform: translateY(-0.5rem);
	-ms-transform: translateY(-0.5rem);
	-o-transform: translateY(-0.5rem);
}
